<div class="container">
    <div class="row header">
        <div class="col s2">
            <i class="material-icons md-36 md-light ">reorder</i>
        </div>
        <div class="col s8">
            <div class="center-align">
                <span class="headerText">Categoria</span>
            </div>
        </div>
        <div class="col s2"> 
             <i class="material-icons md-36 md-light ">keyboard_return</i>
        </div>
    </div>
</div>
<div class="row contenidoProductos z-depth-5">
<!--
PRODUCTOS
-->
</div>
<footer class="divfooter">
    <div class="container">
        <div class="row remove-margin">
            <div class="col s1">
                <i class="material-icons md-36 md-light ">search</i>
            </div>
                <div class="col s8 offset-s1">
                    <div class="center-align">
                        <span class="headerText">₡XXX XXX</span>
                    </div>
                </div>
            <div class="col s2"> 
                 <img class="iconSmarket" src="img/icono_Smarket.png"/>
            </div>
        </div>
    </div>
</footer>